body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center */
    align-items: center;     /* horizontally center */
    text-align: center;      /* center the text inside p */
}

div{
    
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1vh;
  background-color: black;
  font-size: 3vh;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

p{
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 3vh;
    color: #d9d9d9;
}
#mom {
  text-align: left;   /* <-- ensures text starts from left */
  width: 80%;         /* optional: makes lines not too wide */
  margin: 0 auto;     /* keeps it centered as a block */
  font-size: 3vh;
  color: #e5abab;
  white-space: pre-wrap; /* keeps line breaks */
}